<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AssemblySection" type="AltMstest.Core.Configuration.AltMstestSection, altmstest.core"/>
  </configSections>

  <AssemblySection Destination="C:\runtestsfromhere\subfolder\">
      <Assemblies>
        <!--<add Folder="C:\git\core\SM.Admin.Tests\bin\Debug\" Assemblies="SM.Admin.Tests.dll"/>-->
        <add Assembly="C:\git\core\SM.Admin.Tests\bin\Debug\SM.Admin.Tests.dll"/>
        <add Assembly="C:\git\core\SM.CoreService.Tests\bin\Debug\SM.CoreService.Tests.dll"/>
    </Assemblies>
  </AssemblySection>
</configuration>