<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AssemblySection" type="AltMstest.Core.Configuration.AltMstestSection, altmstest.core"/>
  </configSections>

  <AssemblySection Destination="C:\runtestsfromhere\subfolder\">
      <Assemblies>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Admin.Tests\bin\Debug\SM.Admin.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.CoreService.Tests\bin\Debug\SM.CoreService.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Edm.Tests\bin\Debug\SM.Edm.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.JobData.Tests\bin\Debug\SM.JobData.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.JobService.Tests\bin\Debug\SM.JobService.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Notifications.Tests\bin\Debug\SM.Notifications.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.ProfileMetadata.Tests\bin\Debug\SM.ProfileMetadata.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Reaper.Tests\bin\Debug\SM.Reaper.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Rpc.Tests\bin\Debug\SM.Rpc.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Types.Tests\bin\Debug\SM.Types.Tests.dll"/>
        <add Category="Unit Tests" Assembly="C:\git\core\SM.Utils.Tests\bin\Debug\SM.Utils.Tests.dll"/>
        <add RunParallel="false" Category="Functional Tests" Assembly="C:\git\core\SM.Admin.FunctionalTests\bin\Debug\SM.Admin.FunctionalTests.dll"/>
        <add RunParallel="false" Category="Functional Tests" Assembly="C:\git\core\SM.Rpc.FunctionalTests\bin\Debug\SM.Rpc.FunctionalTests.dll"/>
    </Assemblies>
  </AssemblySection>
</configuration>