<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FolderSection" type="AltMstestGui.Configuration.AltMstestSection, altmstest-gui"/>
  </configSections>

  <FolderSection Destination="C:\runtestsfromhere\subfolder\">
      <Folders>
        <add Folder="C:\git\core\SM.Admin.Tests\bin\Debug\" Assemblies="SM.Admin.Tests.dll"/>
        <add Folder="C:\git\core\SM.CoreService.Tests\bin\Debug\" Assemblies="SM.CoreService.Tests.dll"/>
    </Folders>
  </FolderSection>
</configuration>